@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --accent: #880808;
    --secondary-accent: #dd002c;
    --secondary-bg: hsl(0, 0%, 10%);
  }

  .text-gradient {
    @apply bg-gradient-to-r from-red-800 via-red-600 to-red-500 bg-clip-text text-transparent
  }
  .border-gradient {
    @apply bg-gradient-to-r from-red-700 via-red-400 to-orange-700
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
  }
}